version: '0.0.1-{build}'

os: Visual Studio 2015
platform: x64
clone_folder: C:\src
clone_depth: 1
test: off

configuration:
# - Release
 - GN
before_build:
 - ps: $env:Date="$(git show -s --date=short --format='%ad')"
 - ps: $env:APPVEYOR_SAVE_CACHE_ON_ERROR=$TRUE
 - 7z x depot_tools.zip -aos -oC:\src\depot_tools > null
 - mkdir chromium && cd chromium
 - fetch --no-history chromium
 - cd src
 - del "C:\Program Files (x86)\MSBuild\14.0\Microsoft.Common.targets\ImportAfter\Xamarin.Common.targets"

build_script:
 - cd C:\src\chromium\src
 - gn gen --ide=vs --filters=//chrome out\Default
 - msbuild "C:\src\chromium\src\out\Default\all.sln" /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
# - gn gen out/Default
# - ninja -C out\Default chrome

install:
 - if not exist depot_tools.zip appveyor DownloadFile https://storage.googleapis.com/chrome-infra/depot_tools.zip -FileName depot_tools.zip
 - set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;C:\src\depot_tools;%PATH%
 - set DEPOT_TOOLS_WIN_TOOLCHAIN=0
 - set COMMIT_SHA=%APPVEYOR_REPO_COMMIT:~0,8%

artifacts:
 - path: chromium\src\out\Default\
   name: 'chromium-v0.0.1-$(Date)-$(COMMIT_SHA)_win64'
   type: zip

cache:
 - depot_tools.zip
 - C:\src\depot_tools -> appveyor.yml